* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
p,
span,
h1 {
  font-family: "Poppins", sans-serif;
  color: #fff;
}
a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #fff;
}
li {
  list-style: none;
}
h2 {
  font-family: "Poppins", sans-serif;
  color: #fff;
}
.back {
  z-index: -1;
  background: linear-gradient(
    180deg,
    #222 0%,
    #1f1f1f 11.64%,
    #171717 25.66%,
    #161616 32.94%,
    #151515 35.98%,
    #131313 44.89%,
    #121212 55.22%,
    #121212 75.34%,
    #121212 85.45%,
    rgba(18, 18, 18, 0) 100%
  );
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}




.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.container nav {
  z-index: 5;
  top: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  width: 274.8px;
  background: #000;
  /* display: flex; */
  flex-direction: column;
}

.container nav img {
  width: 120.576px;
  height: 33.526px;
  flex-shrink: 0;
  margin-left: 31px;
  margin-top: 18px;
}

.container nav ul {
  margin-top: 15px;
}
.container nav ul li:active {
  background-color: #303030;
  border-radius: 5px;
}

.container nav ul li {
  /* background-color: #131313; */
  text-align: center;
  text-align: center;
  display: flex;
  align-content: center;
  padding-left: 20px;
  /* margin-top: -17px; */
  list-style-type: none;
  /* border: 1px solid red; */
  margin-inline: 12px;
  width: 244px;
  height: 33.761px;
  flex-shrink: 0;
  align-items: center;
}
.container nav ul li:hover {
  background-color: #303030;
  border-radius: 5px;
}

nav ul li a {
  margin-left: 9px;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

nav ul li svg {
  width: 19.645px;
  height: 21.116px;
  flex-shrink: 0;
}

.play svg {
  background: white;
  width: 19.645px;
  height: 21.116px;
  flex-shrink: 0;
}
.bottum {
  z-index: 6;
  padding-top: 1px;
  align-items: flex-start;
  /* padding-inline: 29px; */
  display: flex;
  bottom: 0;
  position: fixed;
  background: #181818;
  width: 100vw;
  height: 110px;
  justify-content: space-between;
}

.home {
  /* margin-left: 21vw; */
  position: relative;
  padding-left: 332px;
}
.home .next-pr {
  display: flex;
  gap: 30px;
  margin-top: 20px;
  /* margin-left: 20px; */
}

.home .next-pr #next svg {
  /* position: absolute; */
  /* top: 20px; */
  /* left: 60px; */
  display: flex;
  gap: 20px;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  background-color: #151515;
  border-radius: 50%;
}

.home .next-pr #pre svg {
  /* position: absolute; */
  /* top: 20px; */
  /* left: 20px; */
  display: flex;
  gap: 20px;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  background-color: #101010;
  border-radius: 50%;
}

.home h2 {
  font-size: 26px;
  margin-top: 35px;
}

.home .list {
  width: 63vw;
  /* list-style: none; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.home .list li {
  margin: 10px;
  border-radius: 4px;
  background: #303030;
  margin: 10px;
  width: 266px;
  height: 71px;
  overflow: hidden;
  display: flex;
  gap: 30px;
  align-items: center;
  font-size: 11px;
}

.home .list li:hover {
  background-color: #131313;
}

.home .list li img {
  height: 66px;
  width: fit-content;
}

.home .list-2 {
  width: 71vw;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
}

.home .list-2 li {
  padding-bottom: 17px;
  padding-left: 9px;
  text-align: left;
  width: 140.292px;
  height: 172.904px;
  flex-shrink: 0;
  /* border-radius: 5px; */
  background: #181818;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  align-content: space-around;
}

.home .list-2 li p {
  margin-top: 10px;
  font-size: 12px;
}
.home .list-2 li span {
  font-size: 9px;
  color: #8b8a8a;
}

.home .list-2 li img {
  border-radius: 10px;
  width: 123px;
  height: 125px;
}

.bottum .name {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
}
.bottum .name img {
  height: 73px;
}

.bottum .play {
  margin-top: 27px;
  gap: 10px;
  display: flex;
  align-items: center;
  align-content: space-between;
  /* justify-content: space-between; */
  flex-direction: column;
}

.bottum .play svg {
  background-color: rgba(63, 63, 63, 0);
}

.bottum .play .svg {
  display: flex;
  gap: 15px;
}

.line {
  position: relative;
  border-radius: 17px;
  width: 474px;
  height: 1px;
  border: 2px solid #656060;
}
.line-2 {
  border-radius: 17px;
  bottom: 0;
  height: 2px;
  border: 2px solid #f0f0f0;
  width: 400px;
  /* z-index: 2; */
  left: -2px;
  position: absolute;
  top: -2px;
  /* background-color: rgb(188, 188, 188); */
}
.line-3 {
  border-radius: 17px;
  bottom: 0;
  height: 2px;
  border: 2px solid #f0f0f0;
  width: 100px;
  /* z-index: 2; */
  left: -2px;
  /* position: absolute; */
  top: -2px;
}

.setting {
  align-items: center;
  margin-right: 69px;
  margin-top: 30px;
  display: flex;
  gap: 10px;
  /* align-items: flex-end; */
}

.green {
  text-align: end;
  bottom: 0;
  position: absolute;
  z-index: 5;
  width: 100vw;
  height: 20px;
  background-color: greenyellow;
}
.green p {
  font-size: 12px;
  margin-right: 30px;
  color: #151515;
}

.id {
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  right: 0;
  top: 0;
  position: absolute;
  display: flex;
}

.id p {
  font-size: 10px;
}

.id img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px 0px;
  transition: all 0.2s ease-in-out;
}
